@tailwind base;
@tailwind components;
@tailwind utilities;

html,

header {
  background-color:#B5E582;
  position: relative;
  flex-wrap: wrap;
  }

.btn {
  background-color: #66BF4C ;
  color: white;
}

.btn:hover {
  background-color: #008000;
}

.btn:active {
  background-color: #3F8C26; /* Darker amber */ 
}

.flex {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}


body {
  background-color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

input, 
select, 
textarea {
  padding: 0.5rem;  
  border: 1px solid #dbe2ef;
  border-radius: 0.25rem;
  outline: none;   
}

input:focus,
select:focus,  
textarea:focus {
    border-color : #66BF4C ;
}

 .carousel {
      top: -16px;
      left: 0%;
      right: 0%;
     }
   .grid {
      top: -14px;
      left: 0%;
      right: 0%;
      gap: 0.1rem;
      position: relative;
       } 
   .card{
     height: 220px;
     padding-bottom: -14%;
   } 
   
   .cardname {
     font-size: small;
    }
   .price {
     font-size: small;
    }
    .contact {
     font-size: small;
    }
 
    .react-grid-layout {
       height: auto !important;
     }

 @media (max-width: 767px) {
  
  input {
   width: 60vw;
   height: 38px;
   }
   .btn{
    height: 36px;
    width: 36px;
   }
 
}

@media only screen and (min-width: 768px) and (max-width: 1400px) {
  input {
    width: 45vw;
    height: 45px;
  }
  .btn{
    height: 43px;
    width: 43px;
   }
   
}
  

 
.icon-count-container {
  position: relative; 
}
.item-count {
  position: absolute;
  top: 3px; 
  right: 7px;
  color: #FFFFFF;
  font-size: smaller;
  background: #ee2f2f;
  padding: 0px 6px;
  border-radius: 100%;
}
 .card {
  background: white; 
  border-radius: 0%;  
  border: 1px solid #e5e7eb;      
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  padding: 0rem;  
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;  
}

.primary-button {
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    margin: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #66BF4C ;
    color: #FFFFFF;
  }
  
  .primary-button:hover {
    background-color: #008000;
  }
  
  .primary-button:active {
    background-color: #3F8C26; /* Darker amber */ 
  }


a {  
  color: black;    
  text-decoration: none;
}

a:hover {  
  color: black;
}

 .add-cart{
  color: #66BF4C;
  cursor: pointer;
 }
.add-cart:hover {
  color: #008000; /* Lighter amber */
}
.add-cart:active {
  background-color: #3F8C26; /* Darker amber */ 
}


.contact:hover {
  color: #008000; /* Lighter amber */
}

.contact:active {
  background-color: #3F8C26; /* Darker amber */ 
}

.default-button {
  background-color: #f9fafb;
  color:#212121 ;  
  padding: 0.5rem 1rem; 
  border-radius: 0.4rem;  
  border: 1px solid #dbe2ef;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 8%);    
  outline: none;
  cursor: pointer;    

}

.default-button:hover {
  background-color: #f1f5f9;
}
.factory-price-label {
  display: block;
  margin-top: 0px;
  font-size: 0.8em; /* Reduced from 0.9em */
  color: #4a4a4a;
}
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .about {
    margin-left: 60px; /* Smaller margin for smaller screens */
    margin-right: 60px;
  }
}

@media (max-width: 480px) { /* Smaller breakpoint for even smaller screens */
  .about {
    margin-left: 40px; /* Even smaller margin for very small screens */
    margin-right: 40px;
  }
}
/* Base Styles */
.services-content {
  margin-left: 80px;
  margin-right: 80px;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) { /* Adjust the breakpoint as needed */
  .services-content {
    margin-left: 60px; /* Smaller margin on smaller screens */
    margin-right: 60px;
  }
}

@media (max-width: 480px) { /* Even smaller screens */
  .services-content {
    margin-left: 40px; /* Even smaller margin */
    margin-right: 40px;
  }
}
.footer{
  display: flex; 
  height: 3rem;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 2rem rgba(0,0,0,0.1);
  background: #B5E582;
}